<% unless current_user == user %>
  <div class="follow_form">
    <% if current_user.following?(user) %>
      <%= form_with model: current_user.relationships.find_by(follow_id: user.id),
                method: :delete, local: true do |f| %>
        <%= hidden_field_tag :follow_id, user.id %>
        <%= f.submit 'フォロー中', class: 'unfollow-btn',
                data: { confirm: "#{user.user_name}さんへのフォローをやめますか？" } %>
      <% end %>
    <% else %>
      <%= form_with model: current_user.relationships.build, local: true do |f| %>
        <%= hidden_field_tag :follow_id, user.id %>
        <%= f.submit 'フォローする', class: 'follow-btn' %>
      <% end %>
    <% end %>
  </div>
<% end %>