<div class="profile row">

  <aside class="col-sm-4 text-center">
    <%= image_tag @user.user_image.url, class: "user-icon" %>
  </aside>

  <div class="col-sm-8">
    <div>
      <span class="user-name"><%= @user.user_name %></span>
      <% if current_user == @user %>
        <%= link_to 'プロフィールを編集', edit_user_path(@user), class: "edit-btn" %>
      <% else %>
        <%= render 'relationships/follow_button', user: @user %>
      <% end %>
    </div>
    <p>
      <div class="post-count">投稿<strong><%= @user.posts.count %></strong>件</div>

      <% if @user.follower.count == 0 %>
        <div class="follow-count">フォロワー<strong class="follower-count">0</strong>人</div>
      <% else %>
        <button type="button" data-toggle="modal" data-target="#following" class="follower-btn">
          フォロワー<strong class="follower-count"><%= @user.follower.count %></strong>人
        </button>
        <div class="modal fade" id="following" tabindex="-1"
            role="dialog" aria-labelledby="label1" aria-hidden="true">
          <%= render 'shared/users_modal', users: @user.follower, title: "フォロワー"%>
        </div>
      <% end %>

      <% if @user.following.count == 0 %>
        <div class="follow-count"><strong>0</strong>人をフォロー中</div>
      <% else %>
        <button type="button" data-toggle="modal" data-target="#follower" class="following-btn">
          <strong><%= @user.following.count %></strong>人をフォロー中
        </button>
        <div class="modal fade" id="follower" tabindex="-1"
            role="dialog" aria-labelledby="label1" aria-hidden="true">
          <%= render 'shared/users_modal', users: @user.following, title: "フォロー中"%>
        </div>
      <% end %>
      
     </p>
    <strong><%= @user.name %></strong>
    <p><%= simple_format h @user.profile %></p>
  </div>

</div>

<% @posts.each do |post| %>
  <%= link_to post do %>
    <%= image_tag post.photo.url(:thumb), class: "image-thumb" %>
  <% end %>
<% end %>
